<% content_for :title do 
  @person["name"]
end %>

<% content_for :hero do %>
<section class="hero is-success">
  <div class="hero-body" style="background:url(<%= @portrait %>); background-size:cover;">
    <div class="container">
      <h1 class="is-size-1 is-size-3-mobile has-text-weight-bold">
        <%= @person["name"] %>
      </h1>
    </div>
  </div>
</section>
<% end %>

<section class="movie-info">
  <div class="row justify-content-center">
    <div class="col-6 col-sm-4">
      <div class="movie-poster embed-container">
        <a href="<%= @portraitfull %>" data-lity>
          <img src="<%= @portrait %>" alt="<%= @person['title'] %>">
        </a>
      </div> 
    </div>
    <div class="col-sm">
      <div class="tabs is-fullwidth">
        <ul>
          <li class="is-active"><a href="#details">Details</a></li>
          <li><a href="#cast">Cast</a></li>
          <li><a href="#crew">Crew</a></li>
          <li><a href="#media">Media</a></li>
        </ul>
      </div>
      <div id="details" class="movie-section">
        <div class="overview">
          <p><%= @person["biography"] %></p>
        </div>
        <div class="knownfor">
          
          <h3>Known For</h3>
          <div class="row">
            <% @knownfor.take(6).each do |film| %>
              <div class="col-4 col-sm">
                <%= render partial: "shared/poster", locals: { item: film, width: 185, type: film["media_type"] } %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="details">
          <table class="table">
            <% if !@person["homepage"].nil? %>
            <tr>
              <th>Homepage</th>
              <td><a href="<%= @person["homepage"] %>" target="_blank"><%= @person["homepage"] %></a></td>
            </tr>
            <% end %>
            <tr>
              <th>Birth Location</th>
              <td><%= @person["place_of_birth"] %></td>
            </tr>
            <tr>
              <th>Born</th>
              <td><%= @person["birthday"] %></td>
            </tr>
            <% if !@person["deathday"].nil? %>
            <tr>
              <th>Died</th>
              <td><%= @person["deathday"] %></td>
            </tr>
            <% end %>
          </table>
        </div>
        
      </div>
      <div id="cast" class="movie-section">
        <% if @cast_movies.count == 0 && @cast_tv.count == 0 %>
          <%= @person["name"] %> hasn't appeared in any movies or TV shows
        <% end %>
        
        <% if @cast_movies.count > 0 %>
        <h3 class="is-size-3">Movies</h3>
        <% end %>
        <% @cast_movies.each do |credit| %>
        <div>
          <div class="row">
            <div class="col">
              <div>
                <strong>
                  <a href="<%= MoviesController::pretty_url credit %>"><%= credit["title"] || credit["original_name"] %></a>
                </strong> 
                <%= if !credit["character"].nil? && !credit["character"].empty? 
                "as " + credit["character"]
                end%>
            </div>
            </div>
            <div class="col-2 text-right">
              <%= Date.parse(credit["release_date"]).year rescue "-" %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <div id="crew" class="movie-section">
        <% if @crew_movies.count == 0 && @crew_tv.count == 0 %>
          <%= @person["name"] %> hasn't worked on any movies or TV shows
        <% end %>
        <% if @crew_movies.count > 0 %>
        <h3 class="is-size-3">Movies</h3>
        <% end %>
        <% @crew_movies.each do |credit| %>
          <div>
            <div class="row">
              <div class="col">
                <div>
                  <strong>
                    <a href="<%= MoviesController::pretty_url credit %>"><%= credit["title"] || credit["original_name"] %></a>
                </strong> <%= credit["job"] %>
              </div>
              </div>
              <div class="col-2 text-right">
                <%= Date.parse(credit["release_date"]).year rescue "-"  %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div id="media" class="movie-section">
        
        <div class="backdrops">
          <% @images["profiles"].each_slice(3) do |images| %>
            <div class="row">
              <% images.each do |image| %>
                <div class="col-sm embed-container">
                  <a href="https://image.tmdb.org/t/p/original/<%= image["file_path"] %>" data-lity>
                    <%= image_tag "https://image.tmdb.org/t/p/w342/#{image["file_path"]}" %>
                  </a>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  $(document).on("click", ".tabs a", function(e){
    $link = $(e.currentTarget);
    $link.closest("ul").find("li").removeClass("is-active");
    $link.parent().addClass("is-active");
    $(".movie-section").hide();
    $($link.attr("href")).show();

    e.preventDefault();
  });
  $(function(){
    if (location.hash){
      $(".tabs a[href=\\" + location.hash +"]").click();
    } else {
      $(".tabs a:first").click();
    }
  })
</script>
