<div class="credit">
  <a href="/person/<%= credit["id"] %>">
    <% if !credit["profile_path"].nil? %>
    <div>
      <%= image_tag "https://image.tmdb.org/t/p/w#{width}#{credit["profile_path"]}" if credit["profile_path"] %>
      <p class="title is-6" style="margin-bottom:1.5em !important"><%= credit["name"] %></p>
      <p class="subtitle is-7">
        <%= credit["character"] %>
        <%= credit["job"] %>
      </p>
    </div>
    <% else %>
    <div class="no-image">
      <i class="fa fa-user" aria-hidden="true"></i>
      <p class="title is-6" style="margin-bottom:1.5em !important"><%= credit["name"] %></p>
      <p class="subtitle is-7">
        <%= credit["character"] %>
        <%= credit["job"] %>
      </p>
    </div>
    <% end %>
  </a>
</div>