
  <div class="movie embed-container">
    <a href="<%= MoviesController::pretty_url movie %>">
      <% if !movie["poster_path"].nil? %>
      <img alt="<%= movie['title'] %>" src="https://image.tmdb.org/t/p/w<%= width %>/<%= movie['poster_path'] %>" class="poster">
      <% else %>
      <div class="no-image">
        <i class="fa fa-film" aria-hidden="true"></i>
        <%= movie['title'] %>
      </div>
      <% end %>
    </a>
  </div>
