
  <div class="movie">
    <a href="/movies/<%= movie['id'] %>-<%= movie['name'].parameterize %>">
      <img alt="<%= movie['title'] %>" src="https://image.tmdb.org/t/p/w<%= width %>/<%= movie['backdrop_path'] %>" class="poster">
    </a>
  </div>
