
<br>
<div class="columns">
  <div class="column is-three-quarters">
    <h3>Popluar Movies</h3>
    <div class="movie-slider">
      <% @popular["results"].each_slice(4) do |movies| %>
        <% movies.each do |movie| %>
          <%= render partial: "shared/movieposter", locals: { movie: movie, width: 154 } %>
        <% end %>
      <% end %>
    </div>
    
    <h3>In Theatres Now</h3>
    <div class="movie-slider">
      <% @now_playing["results"].each_slice(4) do |movies| %>
        <% movies.each do |movie| %>
          <%= render partial: "shared/movieposter", locals: { movie: movie, width: 154 } %>
        <% end %>
      <% end %>
    </div>
    
    <h3>Popular TV Shows</h3>
    <div class="movie-slider">
      <% @popular_tv["results"].each_slice(4) do |shows| %>
        <% shows.each do |show| %>
          <%= render partial: "shared/tvposter", locals: { show: show, width: 154 } %>
        <% end %>
      <% end %>
    </div>
    
    <h3>TV Shows On The Air</h3>
    <div class="movie-slider">
      <% @on_the_air["results"].each_slice(4) do |shows| %>
        <% shows.each do |show| %>
          <%= render partial: "shared/tvposter", locals: { show: show, width: 154 } %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="column">
    <h3 class="is-uppercase">/r/Movies news</h3>
    <hr>
    <% @rmovies["data"]["children"][0...5].each do |item| %>
        <div class="news">
          <div class="news-title"><a <%= "data-lity" if item["data"]["url"].match /youtube|vimeo/i %> href="<%= item["data"]["url"] %>" target="_blank"><%= item["data"]["title"] %></a></div>
          <div class="news-comments"><a href="https://reddit.com/<%= item["data"]["permalink"] %>" target="_blank"><%= item["data"]["num_comments"] %> comment(s)</a></div>
        </div>
    <% end %>
    <h3 class="is-uppercase">/r/TV news</h3>
    <hr>
    <% @rtelevision["data"]["children"][0...5].each do |item| %>
        <div class="news">
          <div class="news-title"><a data-lity href="<%= item["data"]["url"] %>" target="_blank"><%= item["data"]["title"] %></a></div>
          <div class="news-comments"><a href="https://reddit.com/<%= item["data"]["permalink"] %>" target="_blank"><%= item["data"]["num_comments"] %> comment(s)</a></div>
        </div>
    <% end %>
  </div>
</div>


<script>
  $(function(){
    $(".movie-slider").bxSlider({
        minSlides: 2,
        maxSlides: 10,
        moveSlides: 1,
        mode: 'horizontal',
        slideWidth: 150,
        slideMargin: 20,
        pager: false
    });
  })
</script>