<!DOCTYPE html>
<html>
<head>
  <title>YAMdb<%= if content_for?(:title) 
    " - " + yield(:title) end%></title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= favicon_link_tag 'favicon.ico' %>
  <link rel="apple-touch-icon" sizes="180x180" href="<%= image_url("apple-touch-icon.png") %>">
  <link rel="icon" type="image/png" sizes="32x32" href="<%= image_url("favicon-32x32.png") %>">
  <link rel="icon" type="image/png" sizes="16x16" href="<%= image_url("favicon-16x16.png") %>">
  <link rel="manifest" href="/manifest.json">
  <meta name="theme-color" content="#ffffff">
  
  <meta content="yes" name="apple-mobile-web-app-capable" />
  <meta name="mobile-web-app-capable" content="yes">
  
  <%= display_meta_tags %>
  <meta property="og:site_name" content="YAMdb" />
  
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110222802-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', '<%= ENV['GA_ACCOUNT'] %>');
  </script>

  
  <%= yield(:meta) %>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lity/2.3.0/lity.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/easy-autocomplete/1.3.5/easy-autocomplete.css" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lity/2.3.0/lity.min.js"></script>
  <script>
    /*! Lity - v3.0.0-dev - 2017-07-17
    * http://sorgalla.com/lity/
    * Copyright (c) 2015-2017 Jan Sorgalla; Licensed MIT */
    (function(window, factory) {
        if (typeof define === 'function' && define.amd) {
            define(['lity'], function(lity) {
                factory(lity);
            });
        } else if (typeof module === 'object' && typeof module.exports === 'object') {
            factory(require('lity'));
        } else {
            factory(window.lity);
        }
    }(typeof window !== "undefined" ? window : this, function(lity) {
        'use strict';
    
        var _regex = /(imgur\.com)\/([a-zA-Z0-9_\-]+)\/?\??(.*)?/i;
    
        lity.handlers('imgur', function(target, instance) {
            var matches = _regex.exec(target);
    
            if (!matches) {
                return false;
            }
            
            return lity.handlers().image('https://www.imgur.com/' + matches[2] + '.jpg', instance)
        });
    }));
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/easy-autocomplete/1.3.5/jquery.easy-autocomplete.js"></script>
</head>
<body>
  
  <%= render partial: "shared/header",  locals: { genres: @genres } %>
  
  <%= yield :hero %>

  <div class="container">
    <%= yield %>
  </div>
  
  <%= render partial: "shared/footer" %>
  
</body>
</html>
